<html>
  <body>
    <div class='content'>
      <h2>Happy Geeky Valentine's Day</h2>
      Someone sent you a card, 
      <a href='{{ url }}' style='color:#333;font-size:22px;'>click here to view it.</a>
    </div>
  </body>
</html>
